rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{eventId} {
      allow read: if true;
      allow write: if false;

      match /classes/{classId} {
        allow read: if true;
        allow write: if false;

        match /splitDefs/{splitId} {
          allow read: if true;
          allow write: if false;
        }

        match /results/{resultId} {
          allow read: if true;
          allow write: if false;
        }
      }
    }

    match /clubs/{clubId} {
      allow read: if true;
      allow write: if false;
    }

    match /athletes/{athleteId} {
      allow read: if true;
      allow write: if false;
    }

    match /{path=**}/results/{resultId} {
      allow read: if true;
      allow write: if false;
    }

    match /users/{userId} {
      allow read, write: if false;

      match /settings/{documentId} {
        allow read, write: if request.auth != null
          && request.auth.uid == userId
          && request.auth.token.email_verified == true;
      }

      match /profile/{documentId} {
        allow read, write: if request.auth != null
          && request.auth.uid == userId
          && request.auth.token.email_verified == true;
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
